<%= link_to ingredient_list_item.ingredient do %>
	<li class="ingredient_list_item">
			<div class="amount">
				<%= ingredient_list_item.measurement_amount %>
			</div>
			<div class="unit">
				<%= ingredient_list_item.measurement_unit %>
			</div>
			<div class="name">
				<%= ingredient_list_item.ingredient.name %>
			</div>
	</li>
<% end %>