<% provide(:title, "Color Scheme") %>
<div class="colorscheme">
	<h1>Color Scheme</h1>
	<div class="row-fluid">
		<div class="span12 primary">
			<div class="row-fluid">
			<h3>Primary</h3>
			<div class="span6 light">-light</div>
			<div class="span6 dark">-dark</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 secondaryA">
			<div class="row-fluid">
			<h3>secondaryA</h3>
			<div class="span6 light">-light</div>
			<div class="span6 dark">-dark</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">	
		<div class="span12 secondaryB">
			<div class="row-fluid">
			<h3>secondaryB</h3>
			<div class="span6 light">-light</div>
			<div class="span6 dark">-dark</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 complementary">
			<div class="row-fluid">
			<h3>complementary</h3>
			<div class="span6 light">-light</div>
			<div class="span6 dark">-dark</div>
			</div>
		</div>
	</div>
</div>
