<div class = "steps">
</p>
		<%= f.label :number, "Number" %>
		<%= f.text_field :number, :size => 3, :maxlength => 3 %>

		<%= f.text_area :instructions, :rows => 3 %>

		<%= button_to_remove_fields "remove", f %>
	</p>
</div>