<% provide(:title, @recipe.title) %>
<div class="row">
	<div class="span12 recipe">
		<h1>
			<%= @recipe.title %>
		</h1>
		<h3>
			<%= @recipe.source %>
		</h3>
		<div class="ingredients">
			Ingredients:
		</div>
		<div class="steps">
			Steps:
			<ol>
				<%= render @steps %>
			</ol>
		</div>	
  </div>
</div>