@import "bootstrap";

/* alright, we're going to try and use a single color scheme for the
    whole site.

    this one to be exact:
    http://colorschemedesigner.com/#00427lAtI.7Mn

    fuuuun times
*/

$primary:           #ED4D4D;
$primary-dark:      darken($primary,30%);
$primary-light:     lighten($primary,30%);

$secondaryA:        #EDA84D;
$secondaryA-dark:   darken($secondaryA,30%);
$secondaryA-light:  lighten($secondaryA,30%);

$secondaryB:        #386F98;
$secondaryB-dark:   darken($secondaryB,30%);
$secondaryB-light:  lighten($secondaryB,30%);

$complement:        #3EBD3E;
$complement-dark:   darken($complement,30%);
$complement-light:  lighten($complement,30%);

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
  h1 {
	  margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* recipes */
ul.recipes {
  border: 2px solid $secondaryB-dark;
  border-radius: 10px;
  a {
    display: block;
    text-decoration: none;
  }
  li {
    :hover {
      background-color: $secondaryB-dark;
      color: $secondaryB-light;
    }
    list-style-type:  none;
    background-color: $secondaryB-light;
    color: $secondaryB-dark;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid $secondaryB;
    margin-top: 10px;
    margin-bottom: 10px;
    div {
      height: 100%;
      .title {
        font-size: 3em;
        padding-left:20px;
        padding-right:20px;
      }
    }
    .information {
      span {
        padding-right: 20px;
        padding-left: 20px;
      }
    }

    @include clearfix;
  }
}
.recipe {
  h3 { 
    text-align: center;
  }
  .ingredients {
    padding: 10px;
    background-color: $secondaryA-light;
    border-radius: 10px;
    border: 2px solid $secondaryA-dark;
    float: left;
    @extend .span3;
    @extend .offset1;
    li {
      list-style-type:  none;
      background-color: $secondaryA;
      border-radius: 5px;
      border: 1px solid $secondaryA-dark;
      @include clearfix;
    }
  }
  .steps {
    padding: 10px;
    background-color: $secondaryB-light;
    border-radius: 10px;
    border: 2px solid $secondaryB-dark;
    float: left;
    float: left;
    @extend .span5;
    @extend .offset1;
  }
}

/* Demo Pages */

.colorscheme {
  .primary {
    background-color: $primary;
    .light {
      background-color: $primary-light;
      color: $primary-dark;
    }
    .dark {
      background-color: $primary-dark;
      color: $primary-light
    }
  }
  .secondaryA {
    background-color: $secondaryA;
    .light {
      background-color: $secondaryA-light;
      color: $secondaryA-dark;
    }
    .dark {
      background-color: $secondaryA-dark;
      color: $secondaryA-light;
    }
  }
  .secondaryB {
    background-color: $secondaryB;
    .light {
      background-color: $secondaryB-light;
      color: $secondaryB-dark;
    }
    .dark {
      background-color: $secondaryB-dark;
      color: $secondaryB-light
    }
  }
  .complementary {
    background-color: $complement;
    .light {
      background-color: $complement-light;
      color: $complement-dark;
    }
    .dark {
      background-color: $complement-dark;
      color: $complement-light;
    }
  }
  .span6.light {
      margin-left: 0;
      padding: 0;
  }
  .span6 {
    margin-top:20px;
    height: 50px;
  }
  .row-fluid {
    height:100px;
  }
  @extend .center;
}
