<footer class="footer">
  <small>
    <a href="https://github.com/cwitthaus/recibox">Github Repo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>